{{ attach_library('xara/slider') }}
<section class="slider">
  <div class="container">
  <div class="slider-container">
    <div class="slider-text">
      <ul class="js-rotating">
        {% if slider_code != '' %}
          {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<button>,<mark>,<hr>,<div>') | raw }}
        {% else %}
        <li>
  				<h1>Sargam <em>FineArts</em></h1>
  				<p>Experts in Handicrafts and Wood carvings. One of the best in Kerala.</p>
  				<a class="button" href="#">Contact Us</a>
  			</li>
  			<li>
  				<h1>Creativity <em>Beyond</em> Imagination</h1>
  				<p>Preserving the rich traditional art, heritage and culture.</p>
  				<a class="button" href="#">Buy Now</a>
  			</li>
  			<li>
  				<h1>100% Satisfied Customers</h1>
  				<p>We have high quality professionals with over 35 years of experience.</p>
  				<a class="button" href="#">Get Started</a>
  			</li>
        {% endif %}
      </ul> <!--/.home-slider -->
    </div><!-- /slider-text -->
    <div class="slider-image">
      {% if slider_image_path != '' %}
        <img src="{{ slider_image_path }}" alt="slider image" />
      {% else %}
        <img src="{{ directory }}/images/demo/slider.svg" alt="slider image" />
      {% endif %}
    </div><!-- /slider-image -->
  </div> <!--/.slider-container -->
  </div> <!--/.container -->
</section>
